.row {
    display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
    flex: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

.stream{
    margin-top: 185px;
    margin-left: 50px;
    width: 250px;

}